%body
  =render partial: "groups/chatside"
  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        .chat-main__header--group-name
          = @group.name
        .chat-main__header--group-edit-btn
          = link_to "Edit", edit_group_path(@group)
      .chat-main__header-members
        MEMBER:
        %i
          - @group.users.each do |user|
            = user.name
    .chat-main__body
      .chat-main__body--messages-list
      - @group.messages.each do |msg|
        .chat-main__message.clearfix{"data-id": "987"}
          .chat-main__message-name
          .chat-main__message-time
            = msg.updated_at
          .chat-main__message-body
            = msg.body
            %img.chat-main__message-body-image{src: ""}/
    = form_for [@group, @messages] do |f|
      .chat-main__footer
        .chat-main__footer-form
          .chat-main__footer-body
            .message
              = f.text_field :body, class: "message",placeholder: "type a message"
            .chat-file
              =f.file_field :image, class: "chat-file"
              %input#message_image.image{name: "message[image]", type: "file"}
              %i.fa.fa-image.fa-lg
          = f.submit :body, class: "submit",type: "submit", value: "Save", data:{ disable_with: "Save"}
