%body
  =render partial: "groups/chatside"
  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        .chat-main__header--group-name
          = @group.name
        .chat-main__header--group-edit-btn
          = link_to "Edit", edit_group_path(@group)
      .chat-main__header-members
        MEMBER:
        %i
          - @group.users.each do |user|
            = user.name
    = render partial: "messages/chat"
    = form_for [@group, @message] do |f|
      .chat-main__footer
        .chat-main__footer-form
          .chat-main__footer-body
            .message
              = f.text_field :body, class: "message",placeholder: "type a message", id: "message_body"
            .chat-file
              =f.file_field :image, class: "chat-file", style: "display:none;", id: "message_image"
            .image
              =f.label :image, class: "image" do
                %i.fa.fa-image.fa-lg
              = f.submit "Send", class: "send"
