= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :グループ名
    .chat-group-form__field--right
      .chat-group-form__input
        = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        .chat-group-form__input
          = f.text_field :name, class: "chat-group-form-search", name: "keyword", id: "user-search-field", placeholder: "追加したいユーザー名を入力してください", value: nil
        #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :チャットメンバー
    .chat-group-form__field--right
      / = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b|
      /   = b.label { b.check_box + b.text }
      #chat-group-users
        - @group.users.each do |usr|
          #chat-group-user-22.chat-group-user.clearfix
            =f.text_field :name, name: "chat_group[user_ids][]",type: "hidden", value: "#{current_user.id}"
            %p.chat-group-user__name
              = usr.name
            %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove
              = f.label :削除
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      .chat-group-form__action-btn
        = f.submit :name, class: "chat-group-form__action-btn", type: "submit", value: "Save", data:{ disable_with: "Save"}
        =render 'layouts/flash'
